@font-face {
  font-family: 'The-Sunday';
  src: url('../assets/fonts/The-Sunday.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  background-color: antiquewhite;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: 'The-Sunday';
  color: #e9be5f;
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
}
